body {
	background-color: #ffffff;
}
a, a:link, a:visited, a:hover, a:active {
	color: #66b2e2;
}
.logo {
	margin: 20px 0;
}
.logo img {
	height: 135px;
}
.marg-auto {
	margin: auto;
}
.scroll-able {
	height: 300px;
	overflow-y: scroll;
}
.bl {
	display: block;
}
.in-bl {
	display: inline-block;
}
.btn-search {
	width: 100%;
}
.container {
	width: 100%;
}
.footer p, li {
	margin: 0;
}
.result tbody:hover {
	cursor: pointer;
}
@media screen and (max-width:767px) {
	.table-responsive {
		border: 0;
	}
}
ul.credits {
	background-color: #ECF0F1;
	list-style: none;
	padding: 15px;
	border-radius: 5px;
	margin: 0;
	display: none;
}
p.credits {
	cursor: pointer;
}
.alert-success, .alert-danger {
	width: 100%;
	text-align: center;
	top: 0;
	margin-top: 0;
	font-size: 1.5em;
	position: fixed;
	z-index: 50;
}
.alert-success {
	display: none;
}
.alert-danger {
	display: none;
}
.ajax-response {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.overlay {
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.popup {
	width: 300px;
	height: auto;
	padding: 10px;
	background: #FFF;
	margin-top: 20px;
	border-radius: 5px;
}
.popup h3 {
	margin: 10px;
}
.popup hr {
	margin: 15px 0;
}
.popup input {
	margin: 5px 0;
}
.btn-login {
	width: 100%;
    color: white;
}
.temp {
	margin-top: 20px;
}
.required, .required:focus {
	border-color: red;
}
.btn-technology {
	background-color: #66b2e2;
	border-color: #66b2e2;
}
a.btn-technology {
	color: white;
}
.btn-technology:hover {
	background-color: #5ba0cb;
	border-color: #5ba0cb;
}
.footer .col-lg-12 {
	padding: 0;
}
#tid label {
	float: left;
}
#tid select {
	min-width: 80px;
	float: right;
}
#tid .popup a {
	margin-top: 5px;
	width: 100%;
}
.credits li:last-child {
	margin-top: 10px;
}
.close {
	color: #000;
}
.close:visited, .close:hover, .close:active {
	color: #666;
}
.melding {
    width: 100%;
    z-index: 3;
    top: 25%;
    padding: 25px;
    position: fixed;
    display: none;
}
.logout {
    top: 5px;
    right: 5px;
    position: absolute;
}
.logout a {
    color: #666;
}
.logout a:hover {
    color: #222;
}
.x-small {
	font-size: 10px;
}